@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Manrope&family=Poppins:wght@500&display=swap");

body {
  background-color: ghostwhite;
  font-family: "Poppins", "Inter", "Manrope";
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-----------------
 Nav area start 
 -----------------*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}
nav h1 {
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}
.unhide {
  display: none;
}

/*-----------------
 journey area start 
 -----------------*/
button {
  display: flex;
  background-color: #e02c6d;
  color: ghostwhite;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
}
.start-journey {
  display: flex;
  padding: 40px 40px;
}
.main-heading {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 52px;
  line-height: 70px;
  font-weight: 700;
}
.main-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #3a3a3a;
}
.start-detail {
  align-items: center;
  margin-right: 10px;
  padding: 5px 5px;
}
.start-image img {
  width: 70%;
  margin-left: 50px;
}
.start-image:hover {
  transform: scale(0.9);
}
.half-width {
  width: 50%;
}

.arrow {
  font-size: 16px;
  margin-left: 10px;
}
/*-----------------
 logo area start 
 -----------------*/
.logo-container {
  margin-top: 50px;
}
.logos {
  display: flex;
  position: relative;
  justify-content: center;
  width: 1110px;
  height: 110;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.253);
}
.logos:hover {
  border: 2px solid rgb(3, 171, 238);
  margin: -2px;
}
.logo {
  padding: 0px 40px;
}
.logo img {
  width: 50%;
}

/*-----------------
 Collection area start 
 -----------------*/
.popular-collection {
  width: 1060px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.collection {
  position: relative;
  width: 329px;
  height: 476px;
  margin-bottom: 24px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.253);
}
.collection:hover {
  border: 2px solid rgb(3, 171, 238);
  margin: -2px;
}
.collection-detail {
  margin: 0;
  padding: 0px 15px;
}
.collection-detail h1 {
  font-family: Poppins;
  margin: 0;
  padding: 5px;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.collection-detail h2 {
  font-family: Inter;
  margin: 0;
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.collection-detail p {
  margin: 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.collection-item {
  padding: 15px 15px;
  width: 300px;
  height: 256px;
}
.arrow-right {
  display: flex;
  justify-content: flex-end;
  color: #e02c6d;
}

.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
/*-----------------
 plans area start 
 -----------------*/
.plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  padding: 40px;
  margin-top: 50px;
}
.plans-img img {
  width: 75%;
  height: 75%;
  border-radius: 10px;
  justify-content: center;
  margin-left: 50px;
}
.plans-info {
  justify-items: center;
  margin-top: 50px;
}
.plans-info h3 {
  text-align: center;
}
.plans-info h1 {
  text-align: center;
}

/*-----------------
 Footer area start 
 -----------------*/

footer {
  background-color: rgb(6, 4, 37);
  color: ghostwhite;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px;
}
.footer-icon i {
  background-color: rgb(28, 28, 68);
  border-radius: 50%;
  font-size: 24px;
  margin-right: 10px;
  padding: 15px;
}
.footer-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.footer-para {
  font-family: Manrope;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #d9dbe1;
}

/*------------------------
  Media query for mobile 
 -----------------------*/
@media only screen and (max-width: 688px) {
  .nav-heading {
    display: inline;
    text-align: center;
    padding: 10px;
  }

  .unhide {
    display: inline-block;
  }
  .hidden {
    display: none;
  }

  .start-journey {
    display: flex;
    flex-direction: column-reverse;
  }
  .start-detail {
    justify-content: center;
    text-align: center;
  }
  .main-heading {
    margin: 0;
    font-size: 28px;
    line-height: 36px;
  }
  .half-width {
    width: 100%;
  }
  .logo-container {
    width: 100%;
  }
  .logos {
    display: flex;
    justify-content: center;
    width: 276px;
    height: 62px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.253);
  }
  .logo {
    /* padding: 0px 40px; */
  }
  .logo img {
    width: 50%;
  }

  .popular-collection {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 21px;
  }
  .collections {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .collection {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .section-title {
    text-align: center;
  }
}
/*------------------------
  Media query for tablet 
 -----------------------*/
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .collection {
    flex-direction: column;
  }
  .section-title {
    text-align: center;
  }
}
